@import "../../global.scss";

.home{
  border-top: .2rem solid whitesmoke;
  border-bottom: .2rem solid whitesmoke;

  .thatbody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../public/assets/thatbody.jpg");
    background-position: right bottom;
    background-size: 50%;

    img{
      width: 38%;
      border: 1rem whitesmoke solid;
      border-bottom: 6rem whitesmoke solid;
    }

    .text{
      color: $white;
      display: flex;
      font-size: 6rem;
      font-weight: 500;
      position: absolute;
      word-spacing: 1rem;
      text-shadow: .2rem .2rem black,
        1rem 1rem #cf6683,
        .5rem .5rem #739a92,
        -.5rem -.5rem #f0a754;
      
      margin-top: 10%;
    }
  }

}