$black: #1A1A26;
$dark-gray: #212B40;
$gray: #64718C;
$light-gray: #7787A6;
$white: #D8E0F2;

@font-face {
  font-family: 'rsw';
  src: local('rsw'), url(./fonts/RockShowWhiplash-jV1G.ttf) format('truetype');
}

$width: 810px;
@mixin mobile {
  @media (max-width: #{$width}){
    @content
  }
}